@media all and (min-width:320px) and (max-width:425px){
    /* uniary-classes */
    .v-list{
        flex-direction: column;
        display: block !important;
        display: flex !important;
        animation: my-animation 1.5s linear;
    }
    @keyframes my-animation{
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }
    .h-height{
        height: 210px !important;
    }
    .banner-heading-opacity{
        opacity: 0.2;
    }
    html body .header .menu .menu-list li ul {
        margin-top: 0px;
        margin-left: 88px;
    }
    html body .header .menu .menu-list li ul li a {
        font-size: 0.68rem;
    }
html body .header .menu .menu-list li ul li {
    width: 122px;
    height: 25px;
    line-height: 25px;
    margin-bottom:0;
}
    .banner-button-margin
    {
        transition: 0.5s all ease;
        margin-left: 100px !important;
    }
    .banner .banner-btn {
    width: 100%;
    margin-left: 10px;
}
    .burger {
        display: block;
        position: absolute;
        left: 84%;
        top: 62px;
        height: 27px;
        width: 27px;
        line-height: 20px;
    }
        html body .header {
            flex-direction: column;
        }
        html body .header .logo {
            width: 40%;
        }
        html body .header .menu {
            width: 100%;
        }
        html body .header .menu .menu-list {
            margin: 0 !important;
            display: none;
        }
        html body .header .menu .menu-list li {
            height: 24px;
            line-height: 24px;
            margin-top: 0;
        }
        html body .top-header .main-top a .text {
            display: none;
        }
        html body .top-header .main-top a .social-icon {
            display: block !important;
        }
        html body .top-header .main-top .header-col .my-address a {
            margin: 0 20px 0 0px;
        }
        html body .top-header .main-top a {
            margin: 0 0 0 -10px;
        }
        .banner{
            height: 490px;
            padding-left: 12px;
            padding-right: 12px;
            overflow: hidden;
        }
        .banner .banner-heading {
            width: 88%;
            padding: 170px 0 0 12px;
        }
        .banner .banner-heading h2 {
            font-size: 1.25rem;
        }
        .banner .banner-para {
            width: 88%;
            padding: 8px 0 0 14px;
        }
        .banner .banner-para p {
            font-size: 0.81rem;
        }
        .banner .banner-button {
            width: 35%;
            margin: 0 0 0 5px;
        }
        .info {
    top: 444px;
}
.info .main-info .col-hover {
    box-shadow: 1px 2px 5px #000;
    margin-bottom: 20px;
}
.info .main-info .info-content .info-heading {
    height: 45px;
    background-color: rgb(255, 118, 0);
}
.info .main-info .info-content .info-heading h1 {
    font-size: 1.012rem;
    line-height: 45px;
}
.info .main-info .info-content {
    margin-bottom: 20px;
    background-color: #ededed;
    height: 200px;
}
.info .main-info .info-btn {
    padding-bottom: 15px;
}
.info .main-info .info-para p {
    margin-bottom: -16px;
}
.main-info {
    display: flex;
    flex-direction: column;
}
.info .popular-courses h1 {
    font-size: 1.5rem;
}
.info .popular-courses p {
    font-size: 0.785rem;
}
.course-slider {
    top: 1312px;
}
.course-slider .my-slider .slick-dots button {
    display: none;
}
.contact{
    top: 1750px;
    height: 1240px;
}
.contact .contact-content .contact-col-1 .contact-material .para{
    width: 293px
}
.contact .contact-content {
    display: flex;
    flex-direction: column;
    width: 330px;
    margin: 0 auto;
}
.contact .contact-content .contact-col-1 .contact-material {
    width: 292px;
}
.contact .contact-content .contact-col-1 {
    width: 290px;
    margin: 0 auto;
}
.contact .contact-content .contact-col-2 {
    width: 290px;
    margin: 0 auto;
}
.contact .contact-content .contact-col-1 .contact-material .sub-col-content .sub-col-1 p {
    font-size: 0.68rem;
}
.contact .contact-content .contact-col-1 .contact-material .sub-col-content .sub-col-2 p {
    font-size: 0.68rem;
}
.contact .contact-content .contact-col-1 .contact-material .sub-col-content .sub-col-1 a h4 {
    font-size: 0.92rem;
}
.contact .contact-content .contact-col-1 .contact-material .sub-col-content .sub-col-2 a h4 {
    font-size: 0.9rem;
}
.comming-events{
    /* display: none; */
    top: 2958px;
    height: 661px;
}
.comming-events .event-heding h1 {
    font-size: 1.27rem;
}
.comming-events .event-parag {
    margin-bottom: 101px;
}
.comming-events .event-parag p {
    font-size: 0.699rem;
}
.comming-events .main-events .envent-col .sub-event {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.comming-events .main-events .envent-col .sub-event .sub-event-col .sub-event-img img {
    width: 325px;
}
.instructor-cover{
    top: 3892px;
}
.instructor-cover .main-inst-cover .intr-para p {
    font-size: 0.8rem;
}
.instructor-cover .main-inst-cover .inst-head h3 {
    font-size: 1.42rem;
}
.instructor-cover .main-inst-cover .inst-btn a{
    width: 50%;
    font-size: 0.789rem;
}
.testinomial {
    /* display: none; */
    top: 3592px;
}
    .testinomial .main-test-cont .test-para {
    width: 320px;
}
.blog {
    top: 4242px;
}
.blog .main-blog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.blog .main-blog .blog-col .blog-img img {
    height: 200px;
}
.blog .main-blog .blog-col {
    width: 320px;
    margin-bottom: 20px;
}
.blog .blog-head h1 {
    font-size: 1.52rem;
}
.satisfaction {
    top: 6361px;
    height: 270px;
}
.satisfaction :nth-child(2) .satis-content {
    float: none;;
    margin: -95px 0 0 -170px;
}
.footer {
    top: 6631px;
}
.footer .footer-content {
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: normal;
}
.footer .footer-content .footer-col {
    margin-top: 15px;
}
    .footer .footer-content .footer-col input {
    height: 30px;
    width: 160px;
}
    .footer .footer-content .footer-col i {
    padding: 6px 10px 8px 10px;
    position: absolute;
    bottom: 35px;
}
.footer-col-1 {
    margin-top: 50px !important;
}

    }
    
    @media only screen and (max-width: 768px){
        html body .header .menu .menu-list {
            margin: 0 0 0 77px;
        }
        html body .header .menu .menu-list li {
            width: 92px;
        }
    }   
@media all and (max-width: 768px) and (min-width:600px){
.blog .main-blog .blog-col {
    width: 160px;
}
.testinomial .main-test-cont {
    width: 200px;
}
.testinomial .main-test-cont .test-heading .stars {
     text-align: left;
}
.testinomial .main-test-cont .checked {
    font-size: 0.75rem;
}
.testinomial .main-test-cont .test-heading .stars span {
    font-size: 0.8rem;
}
.testinomial .main-test-cont .test-heading a {
    font-size: 0.95rem;
    margin: 0 12px 0 0;
}
.testinomial .main-test-cont .test-para p {
    font-size: 0.789rem;
}
.footer .footer-content .footer-col input {
    height: 29px;
    padding-left: 0px;
    width: 80px;
    font-size: 0.58rem;
}
.footer .footer-content .footer-col i {
    padding: 3px 5px 0px 5px;
    height: 28px;
}
.footer .footer-content .footer-col ul li a {
    font-size: 0.689rem;
}
.footer .footer-content .footer-col ul li {
    margin-bottom: 0px;
}
.instructor-cover .main-inst-cover .inst-btn a {
    width: 30%;
}
.contact .contact-content .contact-col-2 {
    width: 222px;
}
.contact .contact-content .contact-col-1 {
    width: 360px;
}
.contact .contact-content .contact-col-2 .contact-material .form form input {
    width: 160px;
    height: 30px;
    font-size: 0.792rem;
}
.contact .contact-content .contact-col-2 .contact-material .form form select {
    width: 160px;
    height: 30px;
    font-size: 0.792rem;
}
.comming-events .main-events .envent-col .sub-event {
    display: flex;
    flex-direction: column;
}
.comming-events .main-events .envent-col .sub-event .sub-event-col .evnt-para p {
    font-size: 0.7rem;
}
.comming-events .main-events .envent-col .sub-event .sub-event-col .evnt-para {
    padding-bottom: 20px;
}
.blog .main-blog .blog-col .blog-para p {
    font-size: 0.7rem;
}
.blog .main-blog .blog-col .blog-heading a {
    font-size: 0.80rem;
}
.blog .main-blog .blog-col .blog-date p {
    font-size: 0.689rem;
}
}